@import "colors";

.founder {
  width: 100%;
  height: 30vh;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/e30ccb57858097.5cd4c37c6fa16.gif);
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    text-align: center;
    margin: auto;

    > img {
      border-radius: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    > h3 {
      font-size: 1.2rem;
      padding: 0.5rem;
      margin: 0;
    }

    > p {
      font-size: 0.8rem;
      font-family: cursive;
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    > div {
      width: 50%;
    }
  }
}
